body{
    background-image: url(imgs/bgguy.jpg);
    background-color: rgb(20, 19, 18);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: url(imgs/cursor.png), auto;
}
html{
    cursor: url(imgs/cursor.png), auto;
}
.yapbar:hover, a:hover, .bup:hover, .babout:hover, .blink:hover{
    cursor: url(imgs/cursorh.png) 10 0, auto;
}
p:not(.yext):hover{
    cursor: url(imgs/cursort.png) 7 16, auto;
}
@font-face { 
    font-family: "zmg",serif;
    src: url("./fonts/ZenMaruGothic-Medium.woff2") format("woff2"), 
		url("./fonts/ZenMaruGothic-Medium.woff") format("woff"), 
		url("./fonts/ZenMaruGothic-Medium.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
    font-weight: 600;
}
h1,h2,h3,h4,h5,h6,p{
    font-family: "zmg";
}


img.polaroid{
    width: 100%;
}

div.polaroid{
    position: absolute;
    width: 16vw;
    transition-duration: 0.5s;
    z-index: 1;
}
div.map{
    transform: rotate(-12deg);
    left: 70vw;
    top: 2vw;
}
div.map:hover{
    transform: rotate(1deg);
}
div.fashion{
    transform: rotate(7deg);
    right: 3vw;
    top: 20vw;
}
div.fashion:hover{
    transform: rotate(2deg);
}
div.tourism{
    transform: rotate(-12deg);
    left: 65vw;
    top: 26vw;
}
div.tourism:hover{
    transform: rotate(1deg);
}
div.locals{
    transform: rotate(-12deg);
    left: 10vw;
    top: 26vw;
}
div.locals:hover{
    transform: rotate(1deg);
}
div.contact{
    transform: rotate(2deg);
    left: 50vw;
    top: 16vw;
}
div.contact:hover{
    transform: rotate(-7deg);
}

div.yapbox{
    position: absolute;
    top: 2vw; left: 2vw; height: 22vw; width: 31vw; 
    background-color: rgba(0, 0, 0, 0.6); 
    overflow-x: scroll;
    border-radius: 20px; border-color: antiquewhite; border-width: 5px; 
    border-style: double;
}
div.yapbar{
    width: 100%; height: 30px;background-color: aliceblue; 
    display: flex; position: sticky;top: 0;
}
div.babout{
    width: 33%; height: 30px;background-color: rgb(17, 73, 122); align-items: center;transition-duration: 0.5s;
}
div.babout:hover{
    background-color: rgb(72, 21, 139);
}
div.bup{
    width: 34%; height: 30px;background-color: rgb(9, 56, 97); align-items: center;transition-duration: 0.5s;
}
div.bup:hover{
    background-color: rgb(47, 10, 97);
}
div.blink{
    width: 33%; height: 30px;background-color: rgb(17, 73, 122); align-items: center; transition-duration: 0.5s;
}
div.blink:hover{
    background-color: rgb(72, 21, 139);
}
p{
    margin-left: 1vw; 
    margin-right: 1vw;
    color: white;
}
h3{
    margin-left: 1vw; 
    margin-right: 1vw;
    color: white;
}

.icecream{
    position: absolute; top: 29vw; left: 27vw; width: 3vw; transform: rotate(21deg);
}
.window{
    position: absolute; top: 24vw; left: 33vw; width: 6vw; 
}
.nes{
    position: absolute; top: 25vw; left: 1vw; width: 2vw; transform: rotate(5deg);
}
.sip{
    position: absolute; top: 15vw; left: 67vw; width: 3vw; transform: rotate(-5deg);
}
.scoot{
    position: absolute; top: 16vw; left: 46vw; width: 3vw;
}
.tangy{
    position: absolute; top: 15.5vw; left: 37vw; width: 2vw;
}
.roostcup{
    position: absolute; top: 15.5vw; left: 93vw; width: 3vw;
}
.nooktreat{
    position: absolute; top: 1.5vw; left: 85vw; width: 4vw; transform: rotate(-5deg);
}
.nookwrap{
    position: absolute; top: 7vw; left: 87vw; width: 4vw; transform: rotate(15deg);
}
.brewpill{
    position: absolute; top: 17vw; left: 35vw; width: 1.2vw; transform: rotate(-22deg);
}
.henry{
    position: absolute; top: 28.5vw; left: 46vw; width: 3vw;
}
.polmini{
    position: absolute; top: 28vw; left: 32vw; width: 2.5vw; transform: rotate(-4deg);
}
.bbblend{
    position: absolute; top: 21vw; left: 66vw; width: 3vw; transform: rotate(8deg);
}
.brc{
    position: absolute; top: 2vw; left: 94vw; width: 4vw;
}
.gyw{
    position: absolute; top: 32vw; left: 4vw; width: 4vw;
}
.mcake{
    position: absolute; top: 36vw; left: 61vw; width: 4vw;
}
.starguy{
    position: absolute; top: 36vw; left: 0vw; width: 3vw; transform: rotate(90deg);
}
.fishmans{
    position: absolute; top: 19vw; left: 39vw; width: 5vw;
}
.poison{
    position: absolute; top: 39vw; left: 52vw; width: 5vw;
}
.ralts{
    position: absolute; top: 35vw; left: 29vw; width: 3vw;
}